<div style="text-align: right;">
<% if user_signed_in? %>
	Zalogowany jako <%= current_user.email %>. 
	<%= link_to "Wyloguj się", destroy_user_session_path, :method => :delete %>
<% else %>        
	<%= link_to "Zaloguj się", new_user_session_path %> lub <%= link_to "Załóż konto", new_user_registration_path %>
<% end %>
</div>