<div id="navigation">
<% if user_signed_in? %>
	Zalogowany jako <%= current_user.email %>. 
	<%= link_to "Wyloguj się", logout_path, :method => :delete %>
<% else %>        
	<%= link_to "Zaloguj się", login_path %> lub <%= link_to "Załóż konto", signup_path %>
<% end %>
</div>